/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,
.nav div,
.nav form,
.nav input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav a { text-decoration: none; }

.nav li { list-style: none; }

/* Menu Container */
.nav {
	
	position: relative;
	cursor: default;
	z-index: 100;
}

/* Menu List */
.nav > li {
	display: block;
	float: left;
}

/* Menu Links */
.nav > li > a {
	position: relative;
	display: block;
	padding: 0 22px;
	line-height: 40px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: black;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav > li:hover > a { color:#ff722b }

.nav > li:first-child > a {
	border-radius: 3px 0 0 3px;
	border-left: none;
}



/* Menu Dropdown */
.nav > li > div {
	position: absolute;
	display: block;
	width: 104%;
	top: 70px;
	left: 0px;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #f0f0f0;
	

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav > li:hover > div {
	opacity: 5;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.nav .nav-column {
	float: left;
	width: 20%;
	padding:2%;
}

.nav .nav-column h3{
	margin: 14px 0 5px 0;
	line-height: 18px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #372f2b;
	text-transform: uppercase;
	text-align:center;
}
.nav-column h3:hover
{
	color:orange;
	border-bottom:1px solid orange;
	
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
	display: block;
	line-height: 26px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #888888;
}

.nav .nav-column li a:hover { color: #ff722b; }